/* ///////////////////////////////////////////////  Universal Style  ////////////////////////////////////////////////////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ///////////////////////////////////////////////  Shared style  ////////////////////////////////////////////////////////////////////// */
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.btn{
    width: 179px;
    height: 64px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 1);
    font-size: 20px;
    font-weight:bolder;
    color: white;
    border: none;
    margin-top: 20px;
}
/* ///////////////////////////////////////////////  Main style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Header Style  ////////////////////////////////////////////////////////////////////// */
header{
    background: rgba(229, 84, 115, 0.1);
}
.full-header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.header-photo{
    padding-top: 50px;
    padding-right: 150px;
}

.header-text{
    padding-left: 150px;
}

.header-text h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.header-text p{
    font-size: 1rem;
    margin-top: 10px;
    color: #272727;
}

/* ///////////////////////////////////////////////  Featured flower style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Hot deal style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Instagram style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Latest deal style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Footer style  ////////////////////////////////////////////////////////////////////// */





