/* ///////////////////////////////////////////////  Universal Style  ////////////////////////////////////////////////////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ///////////////////////////////////////////////  Shared style  ////////////////////////////////////////////////////////////////////// */
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.btn{
    width: 179px;
    height: 64px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 1);
    font-size: 20px;
    font-weight:bolder;
    color: white;
    border: none;
    margin-top: 20px;
}

.each-card{

    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center; 
    
}

.each-card-img{
    max-width: 100%;
    max-height: 100%;
    
}

.tittle{
    font-size: 2rem;
    font-weight: 600;
}
/* ///////////////////////////////////////////////  Main style  ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////  Header Style  ////////////////////////////////////////////////////////////////////// */
header{
    background: rgba(229, 84, 115, 0.1);
}
.full-header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.header-photo{
    padding-top: 50px;
    padding-right: 150px;
}

.header-text{
    padding-left: 150px;
}

.header-text h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.header-text p{
    font-size: 1rem;
    margin-top: 10px;
    color: #272727;
}

/* ///////////////////////////////////////////////  featured flower style  ////////////////////////////////////////////////////////////////////// */
.featured-flower-style{
    padding-top: 150px;
    
}
.flower-box-tittle{
    text-align: center;
}
.flower-box-tittle p{
    
    color: rgba(39, 39, 39, 0.6);
    padding-top: 40px;
    
}

.flower-box-tittle h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.flower-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding-top: 20px;
    
    
    
}

.flower-card-1{
    background: rgba(167, 33, 98, 0.15);
    
    
}
.flower-card-2{
    background: rgba(5, 151, 160, 0.15);
    
}
.flower-card-3{
    background: rgba(71, 125, 17, 0.15);
    
}


/* ///////////////////////////////////////////////  flower-services  ////////////////////////////////////////////////////////////////////// */
.all-service-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    padding: 70px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

    
}


.service-box{
    padding-top: 120px;
}

.all-service-card .service-card{
    text-align: center;
}


/* ///////////////////////////////////////////////  hot deal style  ////////////////////////////////////////////////////////////////////// */
.hot-deal-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal{
    background-color: rgb(241, 220, 224);
    margin-top: 125px;
}

#clo{
    color: red; 
}
.hot-deal-text{
    text-align: center;
}

.hot-deal-text p{
    color: rgba(39, 39, 39, 0.6);

}

/* ///////////////////////////////////////////////  Instagram style  ////////////////////////////////////////////////////////////////////// */
.insta-heading{
    text-align: center;
}

.insta-heading p{
    color: rgba(39, 39, 39, 0.6);
    padding-top: 20px;
}

.insta-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 50px;
}

.instagram{
    margin-top: 125px;
}

.insta-box-card img{
    border-radius: 20px;
}

/* ///////////////////////////////////////////////  Latest deal style  ////////////////////////////////////////////////////////////////////// */
.message-section{
    text-align: center;
    margin-top: 125px;
    background-image: url(./Rectangle\ 9.png);
}

.message-section h1{
    padding-top: 125px;
    
}

.message-section h6{
    padding-bottom: 45px;
    font-size: medium;
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.6);
}

.message-area textarea{
    width: 500px;
    height: 70px;
    border-radius: 10px;
    padding: 20px;
    border: none;
    
    
}
.message-area{
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 60px;
    
   
     
}

.message-area button{
    margin-bottom: 20px;
}



/* ///////////////////////////////////////////////  Footer style  ////////////////////////////////////////////////////////////////////// */

.footer{
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: black;
}
.footer h1{
    padding-bottom: 30px;
    color: white;
}

.footer p{
    color: white;
}
#flw{
    color: red;
}

.footer h6{
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}




